<div class="jumbotron text-center">
  <h1>Twoiter</h1>
  <p class="lead"><i>Share your thoights</i></p>
  <div class="cube-wrapper">
    <div class="cube-container">
      <div class="cube">
        <div class="cube-side"></div>
        <div class="cube-side"></div>
        <div class="cube-side"></div>
        <div class="cube-side"></div>
        <div class="cube-side"></div>
        <div class="cube-side"></div>
      </div>
    </div>
  </div>  
</div>

<app-post-creation></app-post-creation>
<hr>

<div class="feed">
  <ul class="posts" style="list-style: none;">
    <li *ngFor="let post of posts">
      <div class="panel panel-default">
        <div class="panel-heading"><b>{{post.poster}}</b> - {{post.formattedTimestamp}}</div>
        <div class="panel-body">
          {{post.content}}
        </div>
      </div>
    </li>
  </ul>  
  <ul class="pager">
    <li [ngClass]="onOldestPage == true ? 'disabled' : ''" class="previous">
      <a [ngClass]="onOldestPage == true ? 'disabled' : ''" (click)="changePage(true)" href="#">&larr; Older</a>
    </li>
    <li [ngClass]="pageNumber == 1 ? 'disabled' : ''" class="next">
      <a [ngClass]="pageNumber == 1 ? 'disabled' : ''" (click)="changePage(false)" href="#">Newer &rarr;</a>
    </li>
  </ul>
</div>