<div class="jumbotron text-center">
  <h1>Twoiter</h1>
  <p class="lead"><i>Share your thoights</i></p>
</div>

<app-post-creation></app-post-creation>
<hr>

<div class="feed">
  <ul class="posts" style="list-style: none;">
    <li *ngFor="let post of posts">
      <div class="panel panel-default">
        <div class="panel-heading"><b>{{post.poster}}</b> - {{post.formattedTimestamp}}</div>
        <div class="panel-body">
          {{post.content}}
        </div>
      </div>
    </li>
  </ul>
</div>